{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-upload' object.id %}">Add image</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
        <div>
            {% for image in post.images.all %}
            <img src="{{ image.image.url}}" alt="connect" style="max-height:300px">
            {% endfor %}
        </div><br>
        <div>
            {% if user.is_active %}
            <label aria-label="like"><a class="btn btn-outline-secondary" href="{% url 'likes' post_pk=post.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg> Likes {{ post.likes.count }}</a></label>
    <a class="btn btn-outline-secondary" href="{% url 'dislikes' post_pk=post.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg> Dislikes {{ post.dislikes.count }}</a>
            {% else %}
<label aria-label="like"><a class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg> Likes {{ post.likes.count }}</a></label>
    <a class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg> Dislikes {{ post.dislikes.count }}</a>
            {% endif %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <small class="text-muted">Views: {{ post.views }}</small>
            </div>
        </div>
    </article>
<h2>Comments:</h2>
        <article class="media content-section">
        {% for comm in object.comments.all %}
            <img class="rounded-circle article-img" src="{{ comm.post.author.profile.image.url }}">
                <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ comm.post.author }}</a><br>
            {{ comm.body }}<br>
            {{ comm.created }}<br>
                    {% if user.is_active %}
            <label aria-label="like"><a class="btn btn-outline-secondary" href="{% url 'comment_likes' post_pk=post.pk comment_pk=comm.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg> Likes {{ comm.comment_likes.count }}</a></label>
    <a class="btn btn-outline-secondary" href="{% url 'comment_dislikes' post_pk=post.pk comment_pk=comm.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg> Dislikes {{ comm.comment_dislikes.count }}</a>
            {% else %}
<label aria-label="like"><a class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg> Likes {{ comm.comment_likes.count }}</a></label>
    <a class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg> Dislikes {{ comm.comment_dislikes.count }}</a>
            {% endif %}
                    <a href="{% url 'comment_edit' comment_pk=comm.pk %}">Редактировать комментарий</a><br><br>
        </div></div>
        {% endfor %}

    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'add_comment' post_pk=post.pk %}">Comment</a>
    </article>
{% endblock content %}
